.pagination {
  position: absolute;
  display: flex;
  font-size: 24px;
  gap: 14px;
  list-style: none;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-right: 2.4rem;
  justify-content: center;
}

.itemClass {
  text-decoration: none;
  width: 1.5rem;
}

.linkclass {
  text-decoration: none;
  color: white;
}

.actveLinkClass {
  color: black;
}
